<!DOCTYPE html>
<html>
  <head>
    {{ include "_layouts/_head.liquid" }}
  </head>
<body data-route={{route}}>
  {{ include "_layouts/_menu.liquid" }}
  <main>
    <article>
      <h1>{{ title }}</h1>
      
      {% assign word_count = content | size %}
      {% if word_count == 0 or word_count < 1 %}
        {% assign reading_time = "less than a " %}
      {% else %}
        {% assign reading_time = word_count | divided_by: 200 %}
        {% assign pluralize = "s"%}
      {% endif %} 

      <time pubdate="pubdate">{{ date | date: "%b %d, %Y" }} - Reading time: {{ reading_time }} minute{{ pluralize }}.</time><br />
      
      {{ content }}
    </article>
  </main>
  {{ include "_layouts/_footer.liquid" }}
</body>
</html>
